/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style navbar*/
.container-page1 {
    background-image: url(/assets/main-bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav a{
	text-decoration: none;
	color: rgb(187, 182, 182);
}

.nav .pasif:hover{
	color: rgb(255, 255, 255);
}

.logo{
	font-family: 'Bebas Neue', cursive;
	font-size: 35px;
	margin-left: 120px;
}

.pasif.sign-in{
	margin-left: 400px;
}

.pasif.sign-up{
	margin-right: 120px;
}
/*akhir style navbar*/

/*style content1*/
.main{
	width: 1200px;
	display: flex;
	margin: auto;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
}

.main h1{
	color:white;
	font-family: 'Bebas Neue', cursive;
    font-weight: bold;
	font-size: 80px;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

.main p{
	color: white;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
	margin-bottom: 50px;
}

.footer{
	color: white;
	font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}
/*akhir style content1*/